[Unit]
Description=Eww Widgets
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/eww daemon --no-daemonize
ExecStop=/usr/local/bin/eww kill
; ExecStartPost=/usr/local/bin/eww open mini-bar
WorkingDirectory=%h
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
